@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary:#898AC4;
    --color-secondary:#A2AADB;
    --color-third:#C0C9EE;
    --color-fourth:#FFF2E0;
}


body{
    @apply bg-zinc-100 dark:bg-zinc-700 text-black dark:text-white duration-200
}